<h2>Cadastrar receita</h2>
<% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
  <% end %>

<%= form_for @recipe do |form| %>
  <p>
    <%= form.label :title , 'Título'%><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :recipe_type_id, 'Tipo da Receita' %><br>
    <%= form.collection_select(:recipe_type_id, RecipeType.all, :id, :name) %>
  </p>

    <p>
    <%= form.label :cuisine, 'Cozinha' %><br>
    <%= form.text_field :cuisine %>
  </p>

    <p>
    <%= form.label :difficulty, 'Dificuldade' %><br>
    <%= form.text_field :difficulty %>
  </p>

    <p>
    <%= form.label :cook_time, 'Tempo de Preparo' %><br>
    <%= form.number_field :cook_time %>
  </p>

    <p>
    <%= form.label :ingredients, 'Ingredientes' %><br>
    <%= form.text_field :ingredients %>
  </p>
 

   <p>
    <%= form.label :cook_method, 'Como Preparar' %><br>
    <%= form.text_field :cook_method %>
  </p>
  <p>
    <%= form.submit 'Enviar' %>
  </p>
<% end %>
